APScheduler
black
datasets
gradio==5.34.1
gradio[oauth]
gradio_leaderboard==0.0.13
gradio_client
huggingface-hub>=0.18.0
matplotlib
numpy
pandas
python-dateutil
tqdm
transformers
tokenizers>=0.15.0
sentencepiece